<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.usermodule.mapper.AchievementMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.usermodule.model.entity.Achievement">
        <!--@mbg.generated-->
        <!--@Table saas_user_db.t_achievement-->
        <id column="achievement_id" jdbcType="BIGINT" property="id"/>
        <result column="achievement_type_id" jdbcType="BIGINT" property="typeId"/>
        <result column="achievement_type_name" jdbcType="VARCHAR" property="typeName"/>
        <result column="achievement_author_id" jdbcType="BIGINT" property="authorId"/>
        <result column="achievement_author_name" jdbcType="VARCHAR" property="authorName"/>
        <result column="achievement_teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="achievement_teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="achievement_censor_id" jdbcType="BIGINT" property="censorId"/>
        <result column="achievement_censor_name" jdbcType="VARCHAR" property="censorName"/>
        <result column="achievement_members" jdbcType="VARCHAR" property="members"/>
        <result column="achievement_evidence" jdbcType="VARCHAR" property="evidence"/>
        <result column="achievement_overview" jdbcType="VARCHAR" property="overview"/>
        <result column="achievement_feedback" jdbcType="VARCHAR" property="feedback"/>
        <result column="achievement_status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        achievement_id,
        achievement_type_id,
        achievement_type_name,
        achievement_author_id,
        achievement_author_name,
        achievement_teacher_id,
        achievement_teacher_name,
        achievement_censor_id,
        achievement_censor_name,
        achievement_members,
        achievement_evidence,
        achievement_overview,
        achievement_feedback,
        achievement_status,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>