<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.usermodule.mapper.HonorTypeMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.usermodule.model.entity.HonorType">
        <!--@mbg.generated-->
        <!--@Table saas_user_db.t_honor_type-->
        <id column="honor_type_id" jdbcType="BIGINT" property="id"/>
        <result column="honor_type_name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        honor_type_id,
        honor_type_name,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>