<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.sharehome.usermodule.mapper.ManagerMapper">
    <resultMap id="BaseResultMap" type="top.sharehome.usermodule.model.entity.Manager">
        <!--@mbg.generated-->
        <!--@Table wsy_db_user.t_manager-->
        <id column="manager_id" jdbcType="BIGINT" property="id"/>
        <result column="manager_tenant" jdbcType="BIGINT" property="tenant"/>
        <result column="manager_account" jdbcType="VARCHAR" property="account"/>
        <result column="manager_password" jdbcType="VARCHAR" property="password"/>
        <result column="manager_name" jdbcType="VARCHAR" property="name"/>
        <result column="manager_gender" jdbcType="TINYINT" property="gender"/>
        <result column="manager_email" jdbcType="VARCHAR" property="email"/>
        <result column="manager_picture" jdbcType="VARCHAR" property="picture"/>
        <result column="manager_school" jdbcType="VARCHAR" property="school"/>
        <result column="manager_college" jdbcType="VARCHAR" property="college"/>
        <result column="manager_level" jdbcType="TINYINT" property="level"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        manager_id,
        manager_tenant,
        manager_account,
        manager_password,
        manager_name,
        manager_gender,
        manager_email,
        manager_picture,
        manager_school,
        manager_college,
        manager_level,
        create_time,
        update_time,
        is_deleted
    </sql>
</mapper>